COMPOSE_FILE=docker-compose.yml:docker-compose.override.dev.yml
COMPOSE_PROJECT_NAME=cut-dana-platform
CUT_DANA_MP_DIR=/cut-dana-platform-mp
CUT_DANA_MP_ADDON_DIR=/cut-dana-platform-addon
CUT_DANA_BACKEND_DIR=/cut-dana-platform-backend
HOSTNAME=cut-dana-platform.local
HOST_IP=myip
KEYCLOAK_URL=https://auth.cut-dana-platform.local/auth/
KEYCLOAK_CLIENT_ID=backend-client
KEYCLOAK_CLIENT_SECRET=dummy-secret
KEYCLOAK_FRONTEND_CLIENT_ID=masterportal-client
KEYCLOAK_PASSWORD=admin
KEYCLOAK_REALM=masterportal
KEYCLOAK_USER=admin
KEYCLOAK_DATABASE_USER=keycloak
KEYCLOAK_DATABASE_PASSWORD=keycloak
DATABASE_HOST=db
DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_PORT=5432
DATABASE_DB=story-backend
MINIO_ACCESS_KEY=abcd
MINIO_DEFAULT_BUCKET=testbucket
MINIO_ENDPOINT=minio.cut-dana-platform.local
MINIO_PORT=443
MINIO_REGION=garage
MINIO_SECRET_KEY=abcd2345
MINIO_USE_SSL=true
USE_AUTHENTICATION=true
